Repository jeffreymoya/photoeditor, changes with the owners that CODEOWNERS names for each.
All owners: @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads, @photoeditor/mobile-leads, @photoeditor/infra-leads, @photoeditor/security, @photoeditor/data-leads

CODEOWNERS:

# CODEOWNERS
# This file defines required reviewers for critical code paths and shared contract surfaces.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global fallback - all files require at least one review
* @photoeditor/eng

# Shared contracts and packages - require architecture review
/shared/ @photoeditor/architects @photoeditor/backend-leads
/packages/contracts/ @photoeditor/architects @photoeditor/backend-leads
/packages/fp-core/ @photoeditor/architects
/packages/error/ @photoeditor/architects
/packages/observability/ @photoeditor/architects

# Backend core libraries - require backend lead review
/backend/libs/core/ @photoeditor/backend-leads @photoeditor/architects
/backend/libs/aws-clients.ts @photoeditor/backend-leads

# Mobile upload kit - require mobile and backend review
/mobile/app/features/upload/ @photoeditor/mobile-leads @photoeditor/backend-leads

# Infrastructure and deployment - require infra review
/infrastructure/ @photoeditor/infra-leads
/terraform/ @photoeditor/infra-leads
/.github/workflows/ @photoeditor/infra-leads @photoeditor/eng

# Security and compliance - require security review
/.gitleaks.toml @photoeditor/security
/CODEOWNERS @photoeditor/architects

# Architecture standards - require architecture board approval
/STANDARDS.md @photoeditor/architects
/adr/ @photoeditor/architects
/docs/architecture/ @photoeditor/architects

# Database migrations - require data review
/backend/migrations/ @photoeditor/backend-leads @photoeditor/data-leads
/infrastructure/dynamodb/ @photoeditor/backend-leads @photoeditor/data-leads

Enhance error handling and API response structure
  .github/workflows/ci-cd.yml
  .husky/pre-push
  backend/src/lambdas/presign.ts
  backend/src/lambdas/status.ts
  backend/src/utils/deprecation.ts
  backend/src/utils/errors.ts
  backend/src/utils/index.ts
  backend/tests/contracts/presign.contract.test.ts
  backend/tests/contracts/status.contract.test.ts
  backend/tmp/test-results/junit.xml
  contract-diff.json
  docs/compatibility/versioning.md
  docs/contracts/clients/README.md
  docs/contracts/clients/checksums.json
  docs/contracts/clients/types.ts
  docs/contracts/errors/index.md
  docs/openapi/openapi-generated.yaml
  infrastructure/modules/api-gateway/main.tf
  scripts/ci/format-contract-diff.js
  shared/README.md
  shared/contract-snapshot.json
  shared/schemas/api.schema.ts
  shared/types/error.types.ts
  tasks/ci/TASK-0210-qa-suite-alignment.task.yaml
  tasks/shared/TASK-0602-contract-first-routing.task.yaml
  tooling/contract-check.js
  tooling/contracts/generate.js
Owners: @photoeditor/infra-leads, @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads

Add .stryker-tmp to .gitignore (accidentally committed Stryker temp files)
  .gitignore
Owners: @photoeditor/eng

Clean up documentation: Remove LocalStack and E2E test references
  adr/0002-serverless-media-pipeline.md
  adr/0004-aws-client-factory-pattern.md
  standards/frontend-tier.md
  standards/infrastructure-tier.md
Owners: @photoeditor/architects, @photoeditor/eng

Clean up task files: Remove LocalStack references and unfilled template
  tasks/infra/TASK-0810-sst-config-alignment.task.yaml
  tasks/ops/TASK-0903-remove-test-infra.task.yaml
Owners: @photoeditor/eng

TASK-0811: Remove legacy JobService implementation
  backend/src/services/job.service.old.ts
  backend/src/services/job.service.ts
  docs/completed-tasks/TASK-0811-retire-legacy-job-service.task.yaml
  docs/evidence/domain-purity.json
  docs/tests/reports/2025-10-23-static-fitness-task0811.md
  docs/tests/reports/2025-10-24-validation-backend.md
Owners: @photoeditor/eng

TASK-0812: Converge dependency lockfiles on pnpm
  .gitignore
  backend/bff/package-lock.json
  backend/package-lock.json
  docs/completed-tasks/TASK-0812-converge-lockfiles.task.yaml
  docs/evidence/domain-purity.json
  infra/sst/package-lock.json
  mobile/package-lock.json
  package-lock.json
  shared/package-lock.json
Owners: @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads

chore(mobile): Nuclear reset of hallucinated adapter tests
  tasks/mobile/TASK-0820-services-ports-adapters.task.yaml
  tasks/mobile/TASK-0823-adapter-tests-unblocker.task.yaml
  tasks/mobile/TASK-0826-adapter-tests-incremental.task.yaml
Owners: @photoeditor/eng

chore: Update domain purity evidence from pre-commit
  docs/evidence/domain-purity.json
Owners: @photoeditor/eng

docs(infra): Author SST parity ADR and adopt versioned modules
  adr/0008-sst-parity.md
  backend/src/domain/job.domain.ts
  backend/src/lambdas/deviceToken.ts
  backend/src/lambdas/download.ts
  backend/src/lambdas/presign.ts
  backend/src/lambdas/status.ts
  backend/src/lambdas/worker.ts
  backend/src/libs/aws-clients.ts
  backend/src/providers/base.provider.ts
  backend/src/providers/factory.ts
  backend/src/providers/gemini.provider.ts
  backend/src/providers/seedream.provider.ts
  backend/src/providers/stub.providers.ts
  backend/src/repositories/job.repository.ts
  backend/src/services/bootstrap.service.ts
  backend/src/services/deviceToken.service.ts
  backend/src/services/job.service.ts
  backend/src/services/notification.service.ts
  backend/src/services/presign.service.ts
  backend/src/services/s3.service.ts
  backend/src/utils/validation.ts
  docs/completed-tasks/TASK-0822-sst-adr-module-parity.task.yaml
  docs/evidence/domain-purity.json
  docs/infra/sst-parity-checklist.md
  infra/sst/sst.config.ts
  infra/sst/stacks/api.ts
  infra/sst/stacks/messaging.ts
  infra/sst/stacks/storage.ts
  mobile/tmp/test-results/junit.xml
  shared/tmp/test-results/junit.xml
Owners: @photoeditor/architects, @photoeditor/eng, @photoeditor/backend-leads

refactor: Enhance error handling and response structure in presign and status lambdas
  backend/src/lambdas/presign.ts
  backend/src/lambdas/status.ts
  backend/src/utils/errors.ts
  backend/tests/contracts/batch-status.contract.test.ts
  backend/tests/contracts/device-tokens.contract.test.ts
  backend/tests/contracts/download.contract.test.ts
  backend/tests/contracts/presign.contract.test.ts
  backend/tests/contracts/status.contract.test.ts
  backend/tests/libs/aws-clients.test.ts
  backend/tests/support/mock-service-container.ts
  backend/tests/support/test-helpers.ts
  backend/tests/support/time.ts
  backend/tests/unit/lambdas/presign.test.ts
  backend/tests/unit/lambdas/status.test.ts
  backend/tests/unit/logger.test.ts
  backend/tests/unit/providers/factory.test.ts
  backend/tests/unit/providers/index.test.ts
  backend/tests/unit/providers/seedream.provider.test.ts
  backend/tests/unit/providers/stub.providers.test.ts
  backend/tests/unit/repositories/job.repository.test.ts
  backend/tests/unit/services/bootstrap.service.test.ts
  backend/tests/unit/services/config.service.test.ts
  backend/tests/unit/services/job.service.test.ts
  backend/tests/unit/services/presign.service.test.ts
  backend/tests/unit/utils/errors.test.ts
  backend/tests/unit/utils/validation.test.ts
  docs/evidence/domain-purity.json
  docs/proposals/robust-network-polling-test-infrastructure.md
  docs/tests/reports/2025-10-29-backend-test-report.md
  docs/tests/reports/2025-10-31-backend-test-implementation.md
  standards/testing-standards.md
Owners: @photoeditor/eng

temp: disable husky
  _husky_disabled/pre-commit
  _husky_disabled/pre-push
Owners: @photoeditor/eng

chore: Integrate eslint-plugin-photoeditor-internal and update ESLint configuration
  .eslintrc.json
  .husky/pre-commit
  .husky/pre-push
  backend/jest.config.js
  backend/src/lambdas/presign.ts
  backend/src/lambdas/status.ts
  backend/tests/unit/utils/errors.test.ts
  backend/tsconfig.jest.json
  docs/evidence/domain-purity.json
  docs/proposals/robust-network-polling-test-infrastructure.md
  mobile/src/services/__tests__/ApiService.test.ts
  mobile/src/services/__tests__/testUtils.ts
  mobile/src/services/upload/__tests__/adapter.test.ts
  mobile/tmp/test-results/junit.xml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/tmp/test-results/junit.xml
  standards/testing-standards.md
  tasks/mobile/TASK-0816-mobile-typecheck-unblocker.task.yaml
  tasks/mobile/TASK-0817-frontend-tier-hardening.task.yaml
  tasks/mobile/TASK-0823-adapter-tests-unblocker.task.yaml
  tasks/mobile/TASK-0826-adapter-tests-incremental.task.yaml
  tasks/mobile/TASK-0827-upload-adapter-polling-tests.task.yaml
  tooling/eslint-plugin-photoeditor-internal/index.js
  tooling/eslint-plugin-photoeditor-internal/package.json
  tooling/eslint-plugin-photoeditor-internal/rules/no-polling-mock-queues.js
  tooling/eslint-plugin-photoeditor-internal/rules/no-unbound-fixture-builders.js
  tooling/eslint-plugin-photoeditor-internal/tests/no-polling-mock-queues.test.js
Owners: @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads

feat(infra): Reinstate Terraform control plane and fitness evidence
  .github/workflows/terraform.yml
  docs/completed-tasks/TASK-0823-terraform-control-plane.task.yaml
  docs/infra/README.md
  docs/infra/drift/2025-10-31-000000-drift-report.md
  docs/infra/drift/README.md
  docs/infra/terraform-control-plane-evidence.md
  infra/policy-as-code/README.md
  infra/policy-as-code/policies/kms_encryption.rego
  infra/policy-as-code/policies/mandatory_tags.rego
  infra/policy-as-code/policies/s3_security.rego
  infra/policy-as-code/policies/sqs_dlq.rego
  infrastructure/.terraform-version
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/modules/kms/CHANGELOG.md
  infrastructure/modules/kms/README.md
  infrastructure/modules/kms/main.tf
  infrastructure/modules/kms/outputs.tf
  infrastructure/modules/kms/variables.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
Owners: @photoeditor/infra-leads, @photoeditor/eng

feat(infra): Add explicit AWS_REGION to SST Lambda configuration
  docs/evidence/sst-config-alignment.md
  docs/tests/reports/2025-11-01-validation-backend.md
  infra/sst/stacks/api.ts
  tasks/infra/TASK-0810-sst-config-alignment.task.yaml
Owners: @photoeditor/eng

docs: Document purity and immutability heuristics across standards
  docs/completed-tasks/TASK-0813-purity-immutability-heuristics.task.yaml
  docs/evidence/purity-immutability-gap-notes.md
  standards/backend-tier.md
  standards/cross-cutting.md
  standards/frontend-tier.md
  standards/typescript.md
Owners: @photoeditor/eng

fix(ops): Pre-commit hook self-detection of @ts-ignore pattern
  .gitignore
  .husky/pre-commit
  docs/completed-tasks/TASK-0813-purity-immutability-heuristics.task.yaml
  docs/evidence/domain-purity.json
  docs/templates/TASK-0000-template.task.yaml
  docs/ui/2025-frontend-tier-gap-analysis.md
  mobile/tmp/test-results/junit.xml
  shared/tmp/test-results/junit.xml
  tasks/AGENTS.md
  tasks/README.md
  tasks/backend/TASK-0814-domain-purity-gate.task.yaml
  tasks/infra/TASK-0824-dynamodb-capacity-lifecycle.task.yaml
  tasks/infra/TASK-0825-environment-registry-evidence.task.yaml
  tasks/mobile/TASK-0817-frontend-tier-hardening.task.yaml
  tasks/mobile/TASK-0818-frontend-tier-gap-analysis.task.yaml
  tasks/mobile/TASK-0819-feature-ui-layering.task.yaml
  tasks/mobile/TASK-0820-services-ports-adapters.task.yaml
  tasks/mobile/TASK-0821-storybook-chromatic-setup.task.yaml
  tasks/mobile/TASK-0822-rtk-query-xstate.task.yaml
  tasks/mobile/TASK-0823-test-coverage-evidence.task.yaml
  tasks/ops/TASK-0815-traceparent-drill.task.yaml
Owners: @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads

refactor(mobile): Ports and adapters with cockatiel retry policies
  .husky/pre-commit
  docs/completed-tasks/TASK-0820-services-ports-adapters.task.yaml
  docs/evidence/mobile-services-ports.md
  docs/tests/reports/2025-11-01-validation-mobile.md
  mobile/src/services/notification/adapter.ts
  mobile/src/services/upload/adapter.ts
  mobile/tmp/test-results/junit.xml
  tasks/mobile/TASK-0819-feature-ui-layering.task.yaml
Owners: @photoeditor/eng

feat(mobile): Setup Storybook and Chromatic for component library
  .github/workflows/chromatic.yml
  docs/completed-tasks/TASK-0821-storybook-chromatic-setup.task.yaml
  docs/tests/reports/2025-11-01-validation-mobile-TASK-0821.md
  docs/ui/storybook/README.md
  docs/ui/storybook/coverage-report.json
  mobile/.storybook/main.js
  mobile/package.json
  mobile/src/components/ErrorBoundary.stories.tsx
  mobile/src/components/__tests__/ErrorBoundary.test.tsx
  mobile/src/features/upload/components/UploadButton.stories.tsx
  mobile/src/features/upload/components/__tests__/UploadButton.test.tsx
  mobile/storybook/index.js
  mobile/storybook/storybook.requires.js
  mobile/tmp/test-results/junit.xml
  mobile/types/storybook.d.ts
  shared/tmp/test-results/junit.xml
Owners: @photoeditor/infra-leads, @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads

feat(mobile): Implement RTK Query and XState for job/upload state management
  docs/completed-tasks/TASK-0822-rtk-query-xstate.task.yaml
  docs/tests/reports/2025-11-01-validation-mobile-TASK-0822.md
  docs/tests/reports/2025-11-01-validation-mobile.md
  docs/ui/state-metrics/reducer-complexity.json
  docs/ui/state-metrics/selector-purity-audit.md
  docs/ui/state-metrics/statechart-checksums.json
  docs/ui/state-metrics/upload-statechart.mmd
  mobile/.eslintrc.js
  mobile/src/features/upload/machines/__tests__/uploadMachine.test.ts
  mobile/src/store/selectors/__tests__/jobSelectors.test.ts
  mobile/src/store/selectors/jobSelectors.ts
  mobile/src/store/uploadApi.ts
  mobile/tmp/test-results/junit.xml
Owners: @photoeditor/eng

docs(agents): Enhance agent documentation and validation guidelines
  CLAUDE.md
  docs/agents/common-validation-guidelines.md
  docs/agents/diff-safety-checklist.md
  docs/agents/implementation-preflight.md
  docs/proposals/deterministic-agent-automation.md
  docs/proposals/task-workflow-python-refactor.md
  docs/templates/implementation-reviewer-summary-template.md
  docs/templates/task-implementer-summary-template.md
  mobile/src/store/slices/__tests__/jobSlice.test.ts
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/constants.py
  scripts/tasks_cli/datastore.py
  scripts/tasks_cli/picker.py
  scripts/tasks_cli/tests/test_picker.py
Owners: @photoeditor/eng

refactor(mobile): enforce feature layering and UI token boundaries
  docs/tests/reports/2025-11-02-validation-mobile.md
  docs/tests/reports/TASK-0819-validation-2025-11-02.md
  mobile/src/features/upload/__tests__/public-api.test.ts
  mobile/src/features/upload/public/index.ts
  mobile/src/lib/ui-tokens.ts
  mobile/src/screens/CameraScreen.tsx
  mobile/src/screens/EditScreen.tsx
  mobile/src/screens/HomeScreen.tsx
  mobile/src/screens/__tests__/EditScreen.test.tsx
  mobile/src/screens/__tests__/HomeScreen.test.tsx
  mobile/tmp/test-results/junit.xml
  tasks/mobile/TASK-0818-frontend-tier-gap-analysis.task.yaml
  tasks/mobile/TASK-0819-feature-ui-layering.task.yaml
Owners: @photoeditor/eng

test(mobile): backfill hooks test coverage (TASK-0831)
  mobile/src/features/upload/hooks/__tests__/useUpload.test.ts
  mobile/src/features/upload/hooks/__tests__/useUploadMachine.test.ts
  mobile/src/features/upload/machines/uploadMachine.ts
Owners: @photoeditor/eng

test(mobile): backfill Redux slice test coverage (TASK-0825)
  docs/tests/reports/2025-11-03-validation-mobile-TASK-0825.md
  mobile/src/store/slices/__tests__/imageSlice.test.ts
  mobile/src/store/slices/__tests__/settingsSlice.test.ts
Owners: @photoeditor/eng

test(mobile): backfill screen test coverage (TASK-0832)
  mobile/src/screens/__tests__/CameraScreen.test.tsx
  mobile/src/screens/__tests__/GalleryScreen.test.tsx
  mobile/src/screens/__tests__/PreviewScreen.test.tsx
Owners: @photoeditor/eng

feat(tasks): Implement draft status and priority propagation in task management
  .gitignore
  CLAUDE.md
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/constants.py
  scripts/tasks_cli/graph.py
  scripts/tasks_cli/models.py
  scripts/tasks_cli/operations.py
  scripts/tasks_cli/picker.py
  scripts/tasks_cli/tests/test_graph.py
  scripts/tasks_cli/tests/test_operations.py
  scripts/tasks_cli/tests/test_picker.py
  standards/qa-commands-ssot.md
  standards/task-breakdown-canon.md
  tasks/README.md
Owners: @photoeditor/eng

docs(mobile): consolidate test coverage evidence (TASK-0830)
  docs/tests/reports/2025-11-03-validation-mobile-TASK-0830.md
  docs/ui/2025-frontend-tier-gap-analysis.md
  docs/ui/fitness-evidence-bundle.md
  tasks/mobile/TASK-0830-test-coverage-evidence.task.yaml
Owners: @photoeditor/eng

refactor(backend): achieve job domain purity and Result-based orchestration (TASK-0901)
  .agent-outputs/TASK-0901-implementation-summary.md
  .agent-outputs/TASK-0901-review-summary.md
  .agent-outputs/TASK-0901-validation-summary.md
  .husky/pre-commit
  backend/src/domain/job.domain.ts
  backend/src/services/job.service.ts
  backend/src/services/presign.service.ts
  backend/src/utils/index.ts
  backend/src/utils/providers.ts
  backend/tests/unit/domain/job.domain.test.ts
  backend/tests/unit/services/presign.service.test.ts
  docs/evidence/tasks/TASK-0825-clarifications.md
  docs/evidence/tasks/TASK-0827-clarifications.md
  docs/evidence/tasks/TASK-0829-clarifications.md
  docs/evidence/tasks/TASK-0830-clarifications.md
  docs/evidence/tasks/TASK-0831-clarifications.md
  docs/evidence/tasks/TASK-0832-clarifications.md
  docs/evidence/tasks/TASK-0901-clarifications.md
  docs/tests/reports/2025-11-04-validation-backend-TASK-0901.md
Owners: @photoeditor/eng

feat(mobile): update Expo SDK to 51.0.39 to resolve HIGH CVEs (TASK-0903)
  docs/evidence/tasks/TASK-0903-clarifications.md
  docs/tests/reports/2025-11-05-validation-mobile.md
  mobile/app.json
  mobile/package.json
  mobile/src/screens/CameraScreen.tsx
  pnpm-lock.yaml
Owners: @photoeditor/eng

chore(backend): migrate AWS Lambda Powertools from v1.17.0 to v2.28.1 (TASK-0904)
  CLAUDE.md
  backend/bff/package.json
  backend/package.json
  backend/src/lambdas/deviceToken.ts
  backend/src/lambdas/download.ts
  backend/src/lambdas/presign.ts
  backend/src/lambdas/status.ts
  backend/src/lambdas/worker.ts
  docs/evidence/domain-purity.json
  docs/evidence/tasks/TASK-0904-clarifications.md
  docs/ops/dx/mobile-live-dev-with-sst.md
  docs/proposals/automated-test-spec-handoff-pipeline.md
  docs/tests/reports/2025-11-06-validation-backend.md
  pnpm-lock.yaml
  scripts/validate-task-yaml
  tasks/README.md
  tasks/ops/TASK-0905-migrate-eslint-9.task.yaml
Owners: @photoeditor/eng

feat(mobile): migrate to Expo SDK 53 with New Architecture enabled (TASK-0907)
  .github/workflows/mobile-ci-cd.yml
  changelog/2025-11-08-expo-sdk-53-migration.md
  docs/agents/implementation-reviewer-TASK-0907.agent-output.md
  docs/agents/task-implementer-TASK-0907.agent-output.md
  docs/agents/test-validation-mobile-TASK-0907.agent-output.md
  docs/completed-tasks/TASK-0907-expo-sdk-53-migration.task.yaml
  docs/evidence/tasks/TASK-0907-clarifications.md
  docs/evidence/tasks/TASK-0907-cold-start-metrics.md
  docs/evidence/tasks/TASK-0907-smoke-test-results.md
  docs/evidence/tasks/TASK-0907-toolchain-update.md
  docs/mobile/expo-sdk-53-migration.md
  docs/mobile/reports/2025-11-06-mobile-android-run-report.md
  docs/mobile/reports/2025-11-07-kotlin-compilation-errors.md
  docs/mobile/reports/2025-11-07-kotlin-namespace-fix-detailed-report.md
  docs/tests/reports/2025-11-08-validation-mobile.md
  mobile/App.tsx
  mobile/app.json
  mobile/package.json
  mobile/src/__tests__/setup.ts
  mobile/src/features/upload/context/ServiceContext.tsx
  mobile/tsconfig.json
  pnpm-lock.yaml
Owners: @photoeditor/infra-leads, @photoeditor/eng

docs(mobile): add mobile stack modernization tracking and governance
  adr/0009-mobile-stack-modernization.md
  docs/mobile/stack-modernization-tracking.md
Owners: @photoeditor/architects, @photoeditor/eng

refactor(mobile): reduce upload library complexity to meet thresholds (TASK-0912)
  docs/evidence/tasks/TASK-0912-implementation-summary.md
  docs/evidence/tasks/TASK-0912-review-summary.md
  docs/evidence/tasks/TASK-0912-validation-mobile-report.md
  mobile/src/lib/upload/preprocessing.ts
  mobile/src/lib/upload/retry.ts
Owners: @photoeditor/eng

feat(mobile): adopt Expo Router for Jobs surface with file-based routing (TASK-0908)
  changelog/2025-11-09-expo-router-adoption.md
  docs/completed-tasks/TASK-0908-expo-router-adoption.task.yaml
Owners: @photoeditor/eng

test(backend): restore imageProcessing.service coverage gates (TASK-0913)
  backend/src/services/imageProcessing.service.ts
  backend/tests/unit/services/imageProcessing.service.test.ts
  changelog/2025-11-10-restore-imageprocessing-coverage.md
  docs/completed-tasks/TASK-0913-image-processing-coverage-gap.task.yaml
  docs/evidence/coverage-reports/TASK-0913-image-processing-service.md
  docs/evidence/domain-purity.json
  docs/evidence/tasks/TASK-0913-clarifications.md
  docs/tests/reports/2025-11-10-validation-backend.md
  tasks/backend/TASK-0913-image-processing-coverage-gap.task.yaml
Owners: @photoeditor/eng

feat(mobile): adopt FlashList v2 for Gallery and Jobs screens (TASK-0910)
  changelog/2025-11-10-flashlist-adoption.md
  docs/completed-tasks/TASK-0910-flashlist-legend-list-migration.task.yaml
  docs/evidence/domain-purity.json
  docs/evidence/tasks/TASK-0910-clarifications.md
  docs/evidence/tasks/TASK-0910-scroll-jank-metrics.md
  docs/mobile/flashlist-legend-list-migration.md
  docs/tests/reports/2025-11-10-validation-mobile.md
  mobile/app/(jobs)/index.tsx
  mobile/package.json
  mobile/src/features/upload/hooks/__tests__/useUpload.test.ts
  mobile/src/screens/GalleryScreen.tsx
  mobile/src/screens/JobsScreen.tsx
  mobile/src/screens/__tests__/GalleryScreen.test.tsx
  mobile/src/screens/__tests__/JobsScreen.test.tsx
  mobile/src/screens/__tests__/__snapshots__/JobsIndexScreen-router.test.tsx.snap
  pnpm-lock.yaml
Owners: @photoeditor/eng

feat(mobile): install VisionCamera, Skia, and expo-background-task dependencies (TASK-0911A)
  changelog/2025-11-10-visioncamera-dependencies.md
  docs/completed-tasks/TASK-0911A-visioncamera-skia-dependencies.task.yaml
  mobile/app.json
  mobile/package.json
  pnpm-lock.yaml
Owners: @photoeditor/eng

feat(mobile): implement Skia frame processors for camera overlays (TASK-0911B)
  changelog/2025-11-10-skia-frame-processors.md
  docs/completed-tasks/TASK-0911B-skia-frame-processors.task.yaml
  mobile/src/features/camera/CameraWithOverlay.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  mobile/src/features/camera/frameProcessors.ts
  mobile/src/features/camera/public/index.ts
  tasks/mobile/TASK-0911-visioncamera-background-task-pilot.task.yaml
  tasks/mobile/TASK-0911C-expo-background-task-upload.task.yaml
Owners: @photoeditor/eng

feat(mobile): implement AsyncStorage queue for background uploads (TASK-0911C)
  .agent-outputs/TASK-0911C-implementation-summary-final.md
  .agent-outputs/TASK-0911C-implementation-summary.md
  .agent-outputs/implementation-reviewer-summary-TASK-0911C-final.md
  .agent-outputs/implementation-reviewer-summary-TASK-0911C.md
  adr/0010-asyncstorage-queue-background-uploads.md
  changelog/2025-11-10-asyncstorage-queue-decision.md
  changelog/2025-11-11-asyncstorage-background-uploads.md
  docs/agents/task-0911c-implementation.agent-output.md
  docs/completed-tasks/TASK-0911C-expo-background-task-upload.task.yaml
  docs/tests/reports/2025-11-10-validation-mobile.md
  docs/tests/reports/2025-11-11-validation-mobile-TASK-0911C.md
  mobile/app.json
  mobile/app/_layout.tsx
  mobile/package.json
  mobile/src/features/upload/__tests__/backgroundTasks.test.ts
  mobile/src/features/upload/__tests__/uploadQueue.test.ts
  mobile/src/features/upload/backgroundTasks.ts
  mobile/src/features/upload/uploadQueue.ts
  mobile/src/screens/CameraScreen.tsx
  pnpm-lock.yaml
  standards/frontend-tier.md
  tasks/mobile/TASK-0911C-expo-background-task-upload.task.yaml
  tasks/mobile/TASK-0911D-memory-profiling-mitigations.task.yaml
  tasks/mobile/TASK-0911E-feature-flags-guardrails.task.yaml
  tasks/mobile/TASK-0911F-upload-metrics-documentation.task.yaml
Owners: @photoeditor/eng, @photoeditor/architects

docs(mobile): document VisionCamera + expo-background-task pilot outcomes (TASK-0911F)
  changelog/2025-11-11-visioncamera-background-task-pilot-documentation.md
  docs/completed-tasks/TASK-0911F-upload-metrics-documentation.task.yaml
  docs/evidence/tasks/TASK-0911-upload-metrics.md
  docs/mobile/visioncamera-background-task-pilot.md
  docs/tests/reports/2025-11-11-validation-TASK-0911F.md
Owners: @photoeditor/eng

docs(mobile): block TASK-0911D due to manual profiling requirement
  changelog/2025-11-11-task-0911d-blocked-manual-profiling.md
  docs/evidence/tasks/TASK-0911D-blocking-analysis.md
  tasks/mobile/TASK-0911D-memory-profiling-mitigations.task.yaml
Owners: @photoeditor/eng
