Repository jeffreymoya/photoeditor, changes with the owners that CODEOWNERS names for each.
All owners: @photoeditor/eng, @photoeditor/architects, @photoeditor/backend-leads, @photoeditor/mobile-leads, @photoeditor/infra-leads, @photoeditor/security, @photoeditor/data-leads

chore(tasks): remove completed TASK-0911B blocker from downstream tasks
  changelog/2025-11-11-task-blocker-maintenance.md
  tasks/mobile/TASK-0911D-memory-profiling-mitigations.task.yaml
  tasks/mobile/TASK-0911E-feature-flags-guardrails.task.yaml
Owners: @photoeditor/eng

feat(mobile): complete Skia canvas integration for Android pilot (TASK-0911G)
  .husky/pre-commit
  .task-runner/TASK-0911G-implementer-summary.md
  .task-runner/TASK-0911G-reviewer-summary.md
  adr/0011-android-first-pilot-strategy.md
  adr/0012-visioncamera-skia-integration.md
  changelog/2025-11-11-skia-canvas-integration-android.md
  docs/completed-tasks/TASK-0911G-complete-skia-canvas-integration-android.task.yaml
  docs/evidence/tasks/TASK-0911-memory-profiling-results.md
  docs/evidence/tasks/TASK-0911G-implementation-notes.md
  docs/mobile/visioncamera-background-task-pilot.md
  docs/tests/reports/2025-11-11-validation-mobile.md
  mobile/src/features/camera/CameraWithOverlay.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  tasks/mobile/TASK-0911-visioncamera-background-task-pilot.task.yaml
  tasks/mobile/TASK-0911D-memory-profiling-mitigations.task.yaml
  tasks/mobile/TASK-0911E-feature-flags-guardrails.task.yaml
Owners: @photoeditor/eng, @photoeditor/architects

docs(mobile): complete TASK-0911D memory validation via deferral approach
  changelog/2025-11-11-memory-validation-deferral.md
  docs/completed-tasks/TASK-0911D-memory-profiling-mitigations.task.yaml
  docs/evidence/tasks/TASK-0911-memory-profiling-results.md
  docs/mobile/visioncamera-background-task-pilot.md
Owners: @photoeditor/eng

feat(mobile): implement feature flags and frame budget guardrails for Android pilot (TASK-0911E)
  changelog/2025-11-11-feature-flags-guardrails.md
  docs/completed-tasks/TASK-0911E-feature-flags-guardrails.task.yaml
  docs/proposals/claude-code-cli-token-optimization.md
  docs/tests/reports/2025-11-11-validation-mobile-TASK-0911E.md
  mobile/src/features/camera/CameraWithOverlay.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  mobile/src/features/camera/__tests__/frameBudgetMonitor.test.ts
  mobile/src/features/camera/frameBudgetMonitor.ts
  mobile/src/screens/SettingsScreen.tsx
  mobile/src/screens/__tests__/SettingsScreen.test.tsx
  mobile/src/store/selectors/__tests__/jobSelectors.test.ts
  mobile/src/store/slices/__tests__/settingsSlice.test.ts
  mobile/src/store/slices/settingsSlice.ts
  mobile/src/utils/__tests__/featureFlags.test.ts
  mobile/src/utils/featureFlags.ts
  tasks/mobile/TASK-0911D-memory-profiling-mitigations.task.yaml
Owners: @photoeditor/eng

test(mobile): stabilize SettingsScreen async readiness tests (TASK-0914)
  changelog/2025-11-12-task-0911-blocked.md
  changelog/2025-11-12-task-0914-settings-screen-async-tests.md
  docs/completed-tasks/TASK-0914-settings-screen-async-tests.task.yaml
  docs/evidence/tasks/TASK-0914-clarifications.md
  docs/evidence/tasks/TASK-0915-clarifications.md
  docs/evidence/tasks/TASK-0916-clarifications.md
  docs/mobile/visioncamera-background-task-pilot.md
  docs/proposals/claude-code-cli-token-optimization.md
  docs/proposals/task-context-cache.md
  docs/tests/reports/2025-11-12-redteam-review-validation-mobile.md
  docs/tests/reports/2025-11-12-validation-mobile-revalidation.md
  docs/tests/reports/2025-11-12-validation-mobile-task-0914.md
  docs/tests/reports/2025-11-12-validation-mobile.md
  mobile/src/__tests__/test-utils.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  mobile/src/screens/__tests__/SettingsScreen.test.tsx
  tasks/mobile/TASK-0911-visioncamera-background-task-pilot.task.yaml
  tasks/mobile/TASK-0915-camera-feature-flag-tests.task.yaml
  tasks/mobile/TASK-0916-camera-redux-rerender-helper.task.yaml
Owners: @photoeditor/eng

chore(mobile): add implementation and review agents for task management
  .claude/agents/implementation-reviewer.md
  .claude/agents/task-implementer.md
  .claude/agents/test-validation-backend.md
  .claude/agents/test-validation-mobile.md
  .claude/agents/test-validation-shared.md
  .claude/commands/groom-drafts.md
  .claude/commands/task-runner.md
  .gitignore
  changelog/2025-11-13-task-0915-blocked.md
  docs/evidence/tasks/TASK-0915-clarifications.md
  docs/evidence/tasks/TASK-0915-validation.md
  docs/evidence/tasks/TASK-0917-clarifications.md
  docs/evidence/tasks/TASK-0918-clarifications.md
  docs/fix-review-rubric.md
  docs/maintainability-rubric.md
  docs/proposals/task-context-cache.md
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  mobile/src/utils/__mocks__/featureFlags.ts
  tasks/mobile/TASK-0915-camera-feature-flag-tests.task.yaml
  tasks/mobile/TASK-0917-camera-act-render-helper.task.yaml
  tasks/mobile/TASK-0918-camera-loading-sentinel.task.yaml
Owners: @photoeditor/eng

test(mobile): add act-aware render helper for CameraWithOverlay tests (TASK-0917)
  changelog/2025-11-13-camera-act-helper.md
  docs/completed-tasks/TASK-0917-camera-act-render-helper.task.yaml
  docs/evidence/tasks/TASK-0917-validation.md
  docs/tests/reports/2025-11-13-validation-mobile-TASK-0917.md
  mobile/src/__tests__/setup.ts
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  mobile/src/test-utils/cameraRenderHelper.tsx
  mobile/src/test-utils/index.ts
  tasks/mobile/TASK-0917-camera-act-render-helper.task.yaml
Owners: @photoeditor/eng

test(mobile): complete TASK-0915 camera feature flag tests (unblocker)
  changelog/2025-11-14-camera-feature-flag-tests-unblocker.md
  docs/completed-tasks/TASK-0915-camera-feature-flag-tests.task.yaml
Owners: @photoeditor/eng

test(mobile): add Redux-aware render helper for context-preserving rerenders (TASK-0916)
  changelog/2025-11-14-redux-rerender-helper.md
  docs/agents/implementation-reviewer/TASK-0916-review.md
  docs/agents/task-implementer/TASK-0916-summary.md
  docs/completed-tasks/TASK-0916-camera-redux-rerender-helper.task.yaml
  docs/evidence/tasks/TASK-0916-clarifications.md
  mobile/docs/evidence/tasks/TASK-0916-validation.md
  mobile/src/__tests__/test-utils.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
Owners: @photoeditor/eng

feat(mobile): add CameraWithOverlay loading sentinel for async feature flags (TASK-0918)
  changelog/2025-11-14-camera-loading-sentinel.md
  docs/completed-tasks/TASK-0918-camera-loading-sentinel.task.yaml
  docs/evidence/tasks/TASK-0918-clarifications.md
  docs/evidence/tasks/TASK-0918-validation.md
  docs/tests/reports/2025-11-14-validation-mobile-TASK-0918.md
  mobile/src/features/camera/CameraWithOverlay.tsx
  mobile/src/features/camera/__tests__/CameraWithOverlay.test.tsx
  tasks/mobile/TASK-0918-camera-loading-sentinel.task.yaml
Owners: @photoeditor/eng

fix(ci): add retry logic and caching for Skia binaries, improve task validation
  .github/workflows/chromatic.yml
  .github/workflows/ci-cd.yml
  .github/workflows/mobile-ci-cd.yml
  .github/workflows/supply-chain-scan.yml
  ci-failures-analysis.md
Owners: @photoeditor/infra-leads, @photoeditor/eng

fix(ci): update deprecated GitHub Actions to latest versions
  .github/workflows/chromatic.yml
Owners: @photoeditor/infra-leads, @photoeditor/eng

feat(tasks-cli): implement Phase 1 task context cache core
  scripts/tasks_cli/context_store.py
  scripts/tasks_cli/exceptions.py
  scripts/tasks_cli/tests/test_context_store.py
Owners: @photoeditor/eng

feat(mobile): complete VisionCamera + expo-background-task Android pilot (TASK-0911)
  changelog/2025-11-14-visioncamera-pilot-complete.md
  docs/completed-tasks/TASK-0911-visioncamera-background-task-pilot.task.yaml
  docs/tests/reports/2025-11-14-validation-mobile-TASK-0911.md
Owners: @photoeditor/eng

refactor(tasks-cli): improve code quality in context_store.py
  scripts/tasks_cli/context_store.py
Owners: @photoeditor/eng

fix(ci): upgrade actions/upload-artifact from v3 to v4
  .github/workflows/chromatic.yml
Owners: @photoeditor/infra-leads, @photoeditor/eng

feat(tasks-cli): implement Phase 2 task context cache CLI integration
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/operations.py
Owners: @photoeditor/eng

fix(tasks-cli): address PR review feedback - blocking issues #1-4
  scripts/tasks_cli/__main__.py
Owners: @photoeditor/eng

fix(tasks-cli): address PR review feedback - high priority issues #6-8, #10
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/operations.py
Owners: @photoeditor/eng

fix(tasks-cli): address critical PR review findings
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/context_store.py
Owners: @photoeditor/eng

Enhance task context cache functionality and documentation
  .claude/agents/implementation-reviewer.md
  .claude/agents/task-implementer.md
  .claude/agents/test-validation-backend.md
  .claude/agents/test-validation-mobile.md
  .claude/agents/test-validation-shared.md
  .claude/commands/task-runner.md
  AGENTS.md
  CLAUDE.md
  docs/ci/gh-failed-actions-report.md
  docs/pending/task-context-cache-remaining-gaps.md
  docs/proposals/claude-code-cli-token-optimization.md
  docs/proposals/deterministic-agent-automation.md
  docs/proposals/mobile-stack-modernization.md
  docs/proposals/robust-network-polling-test-infrastructure.md
  docs/proposals/task-workflow-draft-status.md
  docs/proposals/task-workflow-hardening.md
  docs/proposals/task-workflow-python-refactor.md
  docs/proposals/transitive-unblocker-detection.md
  docs/templates/scope-globs.json
  docs/troubleshooting/context-cache.md
  scripts/gh-failed-actions.mjs
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/context_store.py
  scripts/tasks_cli/tests/test_context_store.py
  standards/AGENTS.md
  tasks/README.md
Owners: @photoeditor/eng

fix(ci): make Chromatic workflow gracefully handle missing token
  .github/workflows/chromatic.yml
  docs/ci/gh-failed-actions-report.md
Owners: @photoeditor/infra-leads, @photoeditor/eng

feat(ops): add Storybook parser override audit tooling (TASK-1001)
  changelog/2025-11-15-storybook-parser-audit-tooling.md
  docs/completed-tasks/TASK-1001-storybook-parser-audit-tooling.task.yaml
  docs/pending/storybook-parser-audit.md
  docs/tests/reports/2025-11-15-validation-mobile.md
  mobile/package.json
  scripts/storybook/__tests__/audit-parser-overrides.test.mjs
  scripts/storybook/audit-parser-overrides.mjs
Owners: @photoeditor/eng

refactor(ops): replace proposal-executor with simplified adhoc agent
  .claude/agents/adhoc.md
Owners: @photoeditor/eng

feat(tasks-cli): add exception ledger and quarantine models
  scripts/tasks_cli/context_store.py
  scripts/tasks_cli/models.py
Owners: @photoeditor/eng

feat(tasks-cli): add telemetry collection models to context_store
  scripts/tasks_cli/context_store.py
Owners: @photoeditor/eng

feat(tasks-cli): implement quarantine operations module
  scripts/tasks_cli/quarantine.py
Owners: @photoeditor/eng

feat(tasks-cli): add evidence directory helpers to context store
  scripts/tasks_cli/context_store.py
Owners: @photoeditor/eng

feat(tasks-cli): implement exception ledger operations module
  scripts/tasks_cli/exception_ledger.py
Owners: @photoeditor/eng

feat(tasks-cli): add structured validation command execution
  scripts/tasks_cli/tests/test_validation_commands.py
  scripts/tasks_cli/validation.py
Owners: @photoeditor/eng

feat(tasks-cli): add standards excerpt extraction to context_store
  scripts/tasks_cli/context_store.py
  scripts/tasks_cli/tests/test_standards_excerpts.py
Owners: @photoeditor/eng

feat(tasks-cli): add QA log parsing helpers to context store
  scripts/tasks_cli/qa_parsing.py
  scripts/tasks_cli/tests/test_qa_parsing.py
Owners: @photoeditor/eng

feat(tasks-cli): implement acceptance criteria validation
  scripts/tasks_cli/tests/test_acceptance_validation.py
  scripts/tasks_cli/validation.py
Owners: @photoeditor/eng

feat(tasks-cli): implement structured output with JSON/warning channel separation
  scripts/tasks_cli/notify.py
  scripts/tasks_cli/output.py
  scripts/tasks_cli/tests/test_output.py
Owners: @photoeditor/eng

feat(tasks-cli): implement metrics dashboard system
  scripts/tasks_cli/metrics.py
  scripts/tasks_cli/tests/test_metrics.py
Owners: @photoeditor/eng

feat(tasks-cli): add standalone task snapshot module
  scripts/tasks_cli/context_store.py
  scripts/tasks_cli/task_snapshot.py
  scripts/tasks_cli/tests/test_task_snapshot.py
Owners: @photoeditor/eng

feat(tasks-cli): add CLI ergonomics improvements
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/git_utils.py
  scripts/tasks_cli/tests/test_git_utils.py
Owners: @photoeditor/eng

feat(tasks-cli): add CLI integration layer for core commands
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/commands.py
  scripts/tasks_cli/tests/test_commands.py
Owners: @photoeditor/eng

feat(tasks-cli): add enhanced context lifecycle commands (Session S15)
  scripts/tasks_cli/__main__.py
  scripts/tasks_cli/commands.py
  scripts/tasks_cli/tests/test_integration.py
Owners: @photoeditor/eng

docs(tasks-cli): complete pilot validation and documentation (Session S16)
  .claude/agents/task-implementer.md
  docs/evidence/metrics/pilot-baseline-backend.json
  docs/evidence/metrics/pilot-baseline-mobile.json
  docs/evidence/metrics/pilot-hardening-backend.json
  docs/evidence/metrics/pilot-hardening-mobile.json
  docs/evidence/pilot-report.md
  docs/guides/task-cache-hardening-migration.md
  docs/troubleshooting.md
  standards/AGENTS.md
  tasks/README.md
Owners: @photoeditor/eng

CODEOWNERS:

# CODEOWNERS
# This file defines required reviewers for critical code paths and shared contract surfaces.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Global fallback - all files require at least one review
* @photoeditor/eng

# Shared contracts and packages - require architecture review
/shared/ @photoeditor/architects @photoeditor/backend-leads
/packages/contracts/ @photoeditor/architects @photoeditor/backend-leads
/packages/fp-core/ @photoeditor/architects
/packages/error/ @photoeditor/architects
/packages/observability/ @photoeditor/architects

# Backend core libraries - require backend lead review
/backend/libs/core/ @photoeditor/backend-leads @photoeditor/architects
/backend/libs/aws-clients.ts @photoeditor/backend-leads

# Mobile upload kit - require mobile and backend review
/mobile/app/features/upload/ @photoeditor/mobile-leads @photoeditor/backend-leads

# Infrastructure and deployment - require infra review
/infrastructure/ @photoeditor/infra-leads
/terraform/ @photoeditor/infra-leads
/.github/workflows/ @photoeditor/infra-leads @photoeditor/eng

# Security and compliance - require security review
/.gitleaks.toml @photoeditor/security
/CODEOWNERS @photoeditor/architects

# Architecture standards - require architecture board approval
/STANDARDS.md @photoeditor/architects
/adr/ @photoeditor/architects
/docs/architecture/ @photoeditor/architects

# Database migrations - require data review
/backend/migrations/ @photoeditor/backend-leads @photoeditor/data-leads
/infrastructure/dynamodb/ @photoeditor/backend-leads @photoeditor/data-leads
